@model Seven7c.OA.Model.Messsage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetMessage</title>
    <link href="~/Content/jquery-easyui-1.3.1/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.3.1/themes/metro/easyui.css" rel="stylesheet" />

    <script src="~/Content/jquery-easyui-1.3.1/jquery-1.8.0.min.js"></script>
    <script src="~/Content/jquery-easyui-1.3.1/jquery.easyui.min.js"></script>
    <script src="~/Content/jquery-easyui-1.3.1/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">
        $(function () {
            initTable();//初始化表格

            //隐藏添加修改Div
            $("#detailDiv").css("display", "none");

        });

        //初始化表格
        function initTable(queryParam) {
            $('#tt').datagrid({
                url: '/Message/LoadMessages',//接收数据格式：{total:40,rows:[{},{}]}
                title: '消息列表',
                width: 700,
                height: 400,
                fitColumns: true,
                idField: 'Id',
                loadMsg: '正在加载所有信息...',
                pagination: true,
                singleSelect: false,
                pageSize: 10,
                pageNumber: 1,
                pageList: [10, 20, 30],
                queryParams: queryParam,
                columns: [[
                    //m.Id, m.SendTime, m.Title, m.Content, m.FileUrl, m.IsRead, m.UserInfoId
						{ field: 'ck', checkbox: true, align: 'left', width: 50 },
						{ field: 'Id', title: '主键', width: 80 },
						{
						    field: 'Title', title: '标题', width: 120,
						    formatter: function (value, row, index) {
						        if(!value)
						        {
						            value = "无";
						        }
						        var result = "<a class='showDetail' href='javascript:void(0)' uId='" + row.Id + "'>" + value + "</a>"
						        if (row.IsRead == false) {
						            result += "&nbsp;&nbsp;<img src='/Content/images/new.gif' />";
						        }

						        return result;
						    }
						},
                        {
                            field: 'Content', title: '内容', width: 120,
                            formatter: function (value, row, index) {
                                if (value.length > 7)
                                {
                                    return value.substr(0, 7) + "...";
                                }
                                else {
                                    return value;
                                }
                            }
                        },
						{
						    field: 'SendTime', title: '发送时间', width: 120, align: 'left',
						    formatter: function (value, row, index) {
						        return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)")))
                                   .pattern("yyyy-M-d H:m:s");
						    }
						},
                        { 
                            field: 'UName', title: '发送人', width: 120, align: 'center',
                        },
                        {
                            field: 'Edit', title: '操作', width: 120,
                            formatter: function (value, row, index) {
                               
                                var result = "<a class='delLink' href='javascript:void(0)' uId='" + row.Id + "'>删除</a>";
                                if(row.IsRead == false)
                                {
                                    result += " &nbsp;&nbsp;<a class='readLink' href='javascript:void(0)' uId='" + row.Id + "'>设为已读</a>";
                                }
                                return result;
                            }
                        }

                ]],
                toolbar: [ {
                    id: 'btnClose',
                    text: '删除',
                    iconCls: 'icon-cancel',
                    handler: deleteEvent
                }
                ],
                onHeaderContextMenu: function (e, field) { },
                onLoadSuccess: onGridLoadSuccess//表格加载完成后调用此方法。
            });
        }

        //表格加载完成后调用此方法
        function onGridLoadSuccess(data) {
            //绑定表格里面的所有超链接的点击事件
            $(".delLink").click(function () {
                var strID = $(this).attr("uId");
                $.messager.confirm("提醒", "你确定要删除吗?", function (r) {
                    if (r) {
                        postDeleteData(strID);
                    }
                });
            });

            $(".readLink").click(function () {
                var strID = $(this).attr("uId");
                $.post("/Message/SetMessageRead",{id:strID},function (data) {
                    $("#tt").datagrid("reload");
                });
            });

            $(".showDetail").click(function () {
                var strID = $(this).attr("uId");
                $("#detailDiv").css("display", "block");
                $("#frameEdit").attr("src", "/Message/Detail/" + strID);
                $("#detailDiv").dialog(
                    {
                        width: 420,
                        height: 420,
                        modal: true,
                        title: "查看消息",
                        collapsible: true,
                        minimizable: true,
                        maximizable: true,
                        resizable: true,
                        buttons: [{
                            id: 'btnReply',
                            text: '回复',
                            iconCls: 'icon-add',
                            handler: function () {
                                //定位到表单然后  submit
                                $("#detailDiv form").submit();
                            }
                        }, {
                            id: 'btnCancel',
                            text: '关闭',
                            iconCls: 'icon-redo',
                            handler: function () {
                                $("#detailDiv").dialog("close");
                                $("#tt").datagrid("reload");
                            }
                        }]
                    }
               );
            });
            
        }
        //删除的事件响应方法
        function deleteEvent() {
            var allSelectedRows = $("#tt").datagrid("getSelections");
            if (allSelectedRows.length <= 0) {
                $.messager.alert("提示", "没有选中任何行");
                return;
            }

            $.messager.confirm("Messager:", "你确认要删除么?", function (r) {
                if (r) {
                    var strIds = "";
                    for (var i in allSelectedRows) {
                        strIds += allSelectedRows[i].Id + ",";
                    }
                    strIds = strIds.substr(0, strIds.lastIndexOf(','));

                    postDeleteData(strIds);
                }

            });
        }
        //处理删除表单的提交
        function postDeleteData(ids) {
            $.post("/Message/Delete", { Ids: ids,flag:"get" }, function (data) {
                if (data == "ok") {
                    //清楚之前删除选中的行
                    $("#tt").datagrid("clearSelections");
                    //刷新表格
                    $("#tt").datagrid("reload");
                } else {
                    $.messager.alert("错误", data);
                }
            });
        }
    </script>
</head>
<body>
    <div>
        <table id="tt" style="width: 700px;" title="消息列表" iconcls="icon-edit"></table>
    </div>

    <div id="detailDiv">
        
            <iframe id="frameEdit" src="javascript:void(0)" frameborder="0" width="100%" height="100%"></iframe>
        
    </div>
</body>
</html>
